@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

body:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1))
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
}